ul {
    list-style: none;
}

li {
    display: inline;
}

h1 {
     background-color: rgb(218, 106, 81);
     
}

img {
    max-width: 30%;
}

.div-wrapper {
position: relative;
height: 1000px;
width: 1000px;
}

.div-wrapper img {
    position: absolute;
    left: 0%;
    bottom: 0%;
}

footer {
    text-align: center;

}