body {
    background-image: url(../images/backgroundimage1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
ul {
    list-style: none;
}

li {
    color: white;
    padding: 10px;
}

h1 {
     background-color: rgb(218, 106, 81);
     
}

img {
    max-width: 30%;
}

.div-wrapper {
position: relative;
height: 1000px;
width: 1000px;
}

.div-wrapper img {
    position: absolute;
    left: 0%;
    bottom: 0%;
}

footer {
    text-align: center;
    
}
h2 {
    color: rgb(218, 106, 81);
}